<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <app-pet-card-detail [pet]="pet"></app-pet-card-detail>
      <div class="btn-group d-flex mt-1" *ngIf="pet.userId == this.authService.decodedToken.nameid">
        <button [routerLink]="['/pets/edit', pet.id]" class="btn btn-warning w-100">Edit</button>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Details">
            <h4>Description</h4>
            <p>{{pet.description}}</p>
          </tab>
          <tab heading="Photos">
            <ngx-gallery [options]='galleryOptions' [images]='galleryImages'></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <p>messages will go here</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>