<div class="row">
  <div class="col-sm-4">
    <h1>Your Profile</h1>
  </div>
  <div class="col-sm-8">
    <div *ngIf="editForm.dirty" class="alert alert-info">
      <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <app-user-card-detail [user]="user"></app-user-card-detail>
    <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block mt-3">Save
      Changes</button>
  </div>
  <div class="col-sm-8">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Edit Profile">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
            <h4>Location Details</h4>
            <div class="form-inline">
              <label for="city">City: </label>
              <input class="form-control" type="text" name="city" [(ngModel)]="user.city">
              <label for="country">Country:</label>
              <input class="form-control" type="text" name="country" [(ngModel)]="user.country">
            </div>
          </form>
        </tab>
        <tab heading="Edit Photos">
          <p>Photo edit will go here</p>
        </tab>
      </tabset>
    </div>
  </div>
</div>