.dropdown, .dropdown-item{
  cursor: pointer;
}

.navbar-brand{
  color:black;
  font-weight: bold;
}

.navbar{
  font-weight: 600;
}

img#avatar{
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}