<div class="container" *ngIf="pets.length == 0">
  <div class="container mt-5">
    <div style="text-align: center">
      <h1>You haven't registered any lost animals yet.</h1>
      <p class="lead">If you want to register one, please click the button above!</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2">Register a lost pet</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div *ngFor="let pet of pets" class="col-lg-3 col-md-4 col-sm-6">
      <app-pet-card [pet]="pet"></app-pet-card>
    </div>
  </div>
</div>