<div class="row justify-content-center">
  <div class="col-6">
    <form #addPetForm="ngForm" (ngSubmit)="addPet()">
      <h2 class="text-center text-primary">Add a Pet</h2>
      <hr>
      <div class="form-group">
        <h3>Did you found this pet or are you looking for him?</h3>
        <div class="form-check-inline ml-3">
          <input class="form-check-input" type="radio" name="found" value="true" [(ngModel)]="model.found">
          <label class="form-check-label" for="found">Found</label>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="found" value="false" [(ngModel)]="model.found">
          <label class="form-check-label" for="found">Looking</label>
        </div>
      </div>
      <h4 class="mt-5">Pet Details</h4>
      <div class="form-group">
        Type:
        <div class="form-check-inline ml-3">
          <input class="form-check-input" type="radio" name="type" value="dog" [(ngModel)]="model.type">
          <label class="form-check-label" for="dog">Dog</label>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="type" value="cat" [(ngModel)]="model.type">
          <label class="form-check-label" for="cat">Cat</label>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="type" value="bird" [(ngModel)]="model.type">
          <label class="form-check-label" for="bird">Bird</label>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          Gender:
          <div class="form-check-inline ml-3">
            <input class="form-check-input" type="radio" name="gender" value="male" [(ngModel)]="model.gender">
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="female" [(ngModel)]="model.gender">
            <label class="form-check-label" for="female">Female</label>
          </div>
        </div>

        <div class="form-group ml-5">
          Size:
          <div class="form-check-inline ml-3">
            <input class="form-check-input" type="radio" name="size" value="small" [(ngModel)]="model.size">
            <label class="form-check-label" for="small">Small</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="size" value="medium" [(ngModel)]="model.size">
            <label class="form-check-label" for="medium">Medium</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="size" value="big" [(ngModel)]="model.size">
            <label class="form-check-label" for="big">Big</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-inline">
          Color:
          <div class="form-check-inline ml-3">
            <input class="form-check-input" type="radio" name="color" value="black" [(ngModel)]="model.color">
            <label class="form-check-label" for="black">Black</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="color" value="brown" [(ngModel)]="model.color">
            <label class="form-check-label" for="brown">Brown</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="color" value="white" [(ngModel)]="model.color">
            <label class="form-check-label" for="white">White</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="color" value="black and white" [(ngModel)]="model.color">
            <label class="form-check-label" for="white">Black and White</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="color" value="brown and white" [(ngModel)]="model.color">
            <label class="form-check-label" for="white">Brown and White</label>
          </div>
        </div>
      </div>

      <h4 class="mt-5">Location Details</h4>
      <div class="form-inline">
        <label for="country">City:</label>
        <input class="form-control flex-fill ml-2" type="text" name="city" [(ngModel)]="model.city">
      </div>
      <div class="form-inline">
        <label for="country">Country:</label>
        <input class="form-control flex-fill ml-2" type="text" name="country" [(ngModel)]="model.country">
      </div>
      <div class="form-inline">
        <label for="street">Street:</label>
        <input class="form-control flex-fill  ml-2" type="text" name="street" [(ngModel)]="model.street">
      </div>
      <h4 class="mt-5">Description</h4>
      <textarea name="description" rows="5" class="form-control" [(ngModel)]="model.description"></textarea>
      <button class="btn btn-success mt-2 btn-block" type="submit">Register</button>
    </form>
  </div>
</div>