<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 col-sm-8" *ngIf="user.registeredPets.length > 0">
      <h3>Pets registered by {{user.username | titlecase}}:</h3>
      <div class="row mt-4">
        <div *ngFor="let pet of user.registeredPets" class="col-lg-4 col-md-6 col-sm-8">
          <app-pet-card [pet]="pet"></app-pet-card>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class=" card-img-top img-thumbnail" src="{{user.photoUrl}}" alt="{{user.username}}">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Last active:</strong>
            <p>{{user.lastActive}}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{user.created}}</p>
          </div>
          <div *ngIf="user.numberOfPets > 0">
            <strong>Registered Pets:</strong> {{user.numberOfPets}}
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button [disabled]="user.username === this.authService.decodedToken.unique_name"
              class="btn btn-primary w-100">Folow</button>
            <button [disabled]="user.username === this.authService.decodedToken.unique_name"
              class="btn btn-success w-100">Message {{user.username | titlecase}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>